body {
    font-family: sans-serif;
    margin-top: 60px;
    background-image: url(http://www.pptback.com/uploads/white-book-backgrounds-powerpoint.jpg);
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.text-big {
    font-size: 500%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width:800px;
    color:brown;
    margin :0 auto;
    font-family : Algerian;
    padding-left : 15px;
    padding-right : 20px;
}

.login{
    max-width:265px;
    margin : 0;
    padding-left : 50px;
    padding-right : 50px;
}

.details{
    max-width:800px;
    color:#ce4747;
    margin :0 auto;
    font-family : arial;
    padding-left : 25px;
    padding-right : 20px;
    text-align: center;
    font-size: 125%;
}

.udetails{
    max-width:600px;
    color:#ce4747;
    margin :0 auto;
    font-family : arial;
    padding-left : 20px;
    padding-right : 20px;
    text-align: center;
    font-size: 125%;
}

.sign-up{
    font-size: 100%;
    font-family: arial;
    text-align: center;
    max-width:2000px;
    margin :0;
    padding-left : 25px;
    padding-right : 25px;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.review{
    max-width:800px;
    color:black;
    margin :0 auto;
    font-family : arial;
    padding-left : 20px;
    padding-right : 20px;
}