body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.text-big {
    font-size: 500%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width:700px;
    margin:0 auto;
    color:grey;
    font-family : sans-serif;
    padding-left : 15px;
    padding-right : 20px;
}

.login{
    max-width:175px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom : 100px; 
}